@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

/* MAIN */
.innerBorder, .pokedex {
  height: 640px;
  width: 890px;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #b01326;
}
.pokedex {
  background-color: #dc1830;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
  height: 690px;
  width: 930px;
  border-radius: 15px;
  border: 4px solid #2d2b2c;
}

/* CENTER FOLD */
.centerFold {
  display: inline-block;
  background-image: url('/pokedex/fold.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 607px;
  background-size: 25px 607px;
}

/* SIDES */
.leftSide, .rightSide {
  display: inline-block;
  height: 610px;
  width: 418px;
}
.rightSide {
  padding-left: 12px;
}
.panelRight, .panelLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  width: 405px;
  height: 270px;
}
.panelLeft {
  height:90px;
}

 /* TOP SCREENS */
.topScreenLeft, .topScreenRight {
  background-image: url('/pokedex/top_screen_left.png');
  background-repeat: no-repeat;
  width: 405px;
  height: 120px;
  background-size: 405px 130px;
}
.topScreenRight {
  background-image: url('/pokedex/top_screen_right.png');
}

/* SCREENS */
.bigScreen, .smallScreen {    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -1px;
  width: 405px;
  height: 380px;
  background-image: url('/pokedex/big_screen.png');
  background-repeat: no-repeat;
  background-size: 405px 380px;
}
.smallScreen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url('/pokedex/small_screen.png');
  background-size: 405px 200px;
  height: 200px;
}

/* CANVAS */
.bigScreenCanvas, .smallScreenCanvas {
  width: 350px;
  height: 280px;
}
.smallScreenCanvas {
  width: 225px;
  height: 160px;
}
.screenRightInfo {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Press Start 2P';
  font-size: 7px;
  line-height: 14px;
  background-color: #2d2b2c;  
  width: 125px;
  height: 160px;
}

/* ARTWORK BUTTONS */
.artworkPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 405px;
  height: 30px;
}
.artworkButtonNormal, .artworkButtonShiny {
  cursor: pointer;
  border: 4px solid #2d2b2c;
  background-color: #11709e;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P';
  font-size: 10px;
  width: 120px;
  height: 30px;
}
.artworkButtonShiny {
  background-color: #dc1830;
}
.artworkButtonNormal:hover {
  background-color: #0c4e6e;
}
.artworkButtonShiny:hover {
  background-color: #c2133a;
}
.artworkButtonNormal:active, .artworkButtonShiny:active {
  transform: translateY(1.2px);
}

/* SEARCH BAR */
.searchBar {
  border: 5px solid #3a2125;
  background-color: #11709e;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  align-items: center;
  width: 380px;
  height: 45px;
}
.searchBar:focus {
  background-color: #1385be;
}
.searchBar::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.searchBar::-webkit-search-cancel-button {
  color: white;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
/* INFO BAR */
.greenScreen {
  border: 4px solid #2d2b2c;
  background-color: #4fa95f;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
  width: 380px;
  height: 190px;
  margin-top: 8px;
  padding-left: 10px;
  padding-top: 5px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  border-radius: 10px;
  overflow: auto;
  max-height: 190px;
}
.greenScreen::-webkit-scrollbar {
  width: 10px;
}
.greenScreen::-webkit-scrollbar-thumb {
  background-color: rgba(84, 53, 88, 0.3);
  border-radius: 35px;
}
.greenScreen::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
/* OTHERS */
.bottomRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 405px;
  height: 15px;
  opacity: 0.5;
}